.navbar{
    background-color:  #9796f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:70px;
}
.logo-container{
    display: flex;
    flex-direction: row;
}
.score-container{
    display: flex;
    flex-direction: row;
}
.logo-name{
    font-size: 25px;
    color:white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
}
.scores{
    font-size: 25px;
    color:white;
    font-weight: bold;
    font-size: 25px;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
    width:30px;
    height:30px;
    padding-left: 20px;
    padding-top: 20px;
}